<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CBLServerWrapper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CBLServerWrapper.Settings>
            <setting name="MinRAM" serializeAs="String">
                <value>1G</value>
            </setting>
            <setting name="MaxRAM" serializeAs="String">
                <value>1G</value>
            </setting>
            <setting name="LastSelector" serializeAs="String">
                <value>@a[score_importCommands_min=1]</value>
            </setting>
            <setting name="FSRoot" serializeAs="String">
                <value />
            </setting>
        </CBLServerWrapper.Settings>
    </userSettings>
</configuration>